# Project exclude paths
/.gradle/
/File Server/task/build/
/File Server/task/out/
/File Server/task/out/production/classes/
/Topics/Processing strings/Move the first N characters/out/
/Topics/Processing strings/Move the first N characters/out/production/classes/